* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,
body {

    font-family: sans-serif;
}

.cursor {
    height: 40px;
    width: 40px;
    background-color: orangered;
    position: fixed;
    border-radius: 50%;
    z-index: 999;
}

.s1 {
    /* border: 2px solid red; */
    max-height: 100vh;
    overflow: hidden;
    background-image: url(images/bg-1.png);
    background-position: 100%;
    background-size: cover;
    border-bottom: 5px solid black;
}

.s1 nav {
    /* border: 2px solid red; */
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    box-sizing: border-box;
}

.logo {
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    height: 60%;
}

.logo a img {
    height: 80%;
}

.s1 nav ul {
    /* border: 2px solid red; */
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.s1 nav ul li a {
    font-size: 1.2vw;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
}

.s1 nav ul button {
    height: 50%;
    padding: 2% 3%;
    background-color: black;
    border-radius: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid;
}

.s1 nav ul button a {
    color: white;
    font-size: 1.1vw;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.nav-icons {
    font-size: 3vw;
    display: none;
}

.menu-bar {
    display: none;
}




.main {
    /* border: 2px solid red; */
    max-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-1 {
    width: 50%;
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1 img {
    height: 80%;
    margin-top: -10%;
    /* transform: rotate(270deg); */
}


.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    gap: 20px;
    margin-top: -8%;
}

.content h1 {
    font-size: 4vw;
    text-transform: capitalize;
}

.content h1 i {
    color: white;
    font-size: 5vw;
    position: relative;
    top: 1vh;
}

.content p {
    font-size: 1.2vw;
    font-weight: 600;
    color: black;
    padding-right: 15%;
}

.content button {
    width: 30%;
    padding: 2% 5%;
    color: white;
    background-color: black;
    border-radius: 0px 30px 0px 30px;
    border: none;
    outline: none;
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.content button a {
    color: white;
}



#Sec-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(images/bg-2.png);
    background-position: center;
    background-size: cover;
    border-bottom: 5px solid black;
    /* background-color: #A0153E; */
    /* border: 2px solid yellow; */
}

.about-cont {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    gap: 3%;
}

.about-cont h1 {
    text-transform: capitalize;
    font-size: 4vw;
    font-weight: 700;
    color: white;
}

.about-cont h1 i {
    color: black;
}

.about-cont p {
    font-size: 1.2vw;
    font-weight: 600;

}

.about-cont button {
    width: 30%;
    padding: 2% 5%;
    background-color: white;
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 0px 30px 30px 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.about-cont button a {
    color: black;
}

.about-img {
    /* width: 100%; */
    height: 100%;
    /* border: 2px solid black; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    height: 60%;
}





#sec-3 {
    background-image: url(images/bg-4.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    position: relative;
    border-bottom: 5px solid black;
}

.string {
    height: fit-content;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    /* border: 2px solid red; */
    position: absolute;
    top: 35.5%;
    left: 25%;
    /* background-color: red; */
}

.svg-img {
    /* border: 2px solid red; */
    height: 35%;
    width: 19%;
    margin-top: 0%;
    margin-left: -58%;
    z-index: 1;
}

.svg-img img {
    height: 100%;
}

.svg-img p {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 96%;
    top: 47.5%;
}





#sec-4 {
    background-image: url(images/bg-3.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid white; */
    max-height: 100vh;
    width: 100vw;
    /* max-width: 100%; */
    border-bottom: 5px solid black;

}

.project-cont {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-row-1 {
    /* border: 2px solid red; */
    width: 60%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25%;
}

.project-row-1 a {
    height: 100%;
    width: 23%;
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid green;

}

.project-row-1 img {
    height: 100%;
    width: 100%;
}

.project-row-2 {
    /* border: 2px solid red; */
    width: 60%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
    margin-left: 5%;
}

.project-row-2 a {
    /* border: 2px solid red; */
    height: 100%;
    width: 23%;
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid green;
}

.project-row-2 img {
    height: 100%;
    width: 100%;
}


.project-img {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-img img {
    height: 60%;
}



#sec-5 {
    background-image: url(images/bg-5.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 5px solid black;
}

#sec-5 img {
    height: 25%;
}

#sec-5 form {
    /* border: 2px solid red; */
    width: 40%;
    height: auto;
}

#sec-5 form label {
    font-size: 1vw;
    font-weight: 600;
    text-transform: capitalize;
    padding-left: 2%;
}

#sec-5 form input {
    width: 100%;
    border: 1px solid #51b174;
    outline: none;
    padding: 2% 4%;
    border-radius: 30px;
    margin-top: 1%;
    margin-bottom: 3%;
    font-weight: 500;
    font-size: 1vw;
}

#sec-5 form textarea {
    width: 100%;
    border: 1px solid #51b174;
    outline: none;
    padding: 2% 4%;
    border-radius: 30px;
    margin-top: 1%;
    margin-bottom: 3%;
}

#sec-5 form button {
    margin-left: 35%;
    padding: 2% 4%;
    font-size: 1.3vw;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 30%;
    background-color: black;

    cursor: pointer;
}

#sec-5 form button a {
    color: white;
}

.copyright {
    /* border: 2px solid red; */
    margin-top: 3%;
    text-align: center;
}

.copyright p {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1vw;
}

.copyright h5 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3vw;
    color: white;
    /* border: 2px solid red; */
    width: 60%;
    margin: auto;
    padding: 2% 4%;
    background-color: black;
    border-radius: 0px;
}




/* media query start  */


@media (max-width:1024px) {

    .s1 nav ul li a {
        font-size: 1.5vw;
    }

    .s1 nav ul {
        width: 65%;
        margin-right: -3%;
    }

    .main {
        height: calc(100vh - 15vh);
        margin: 0%;
        padding: 0%;
    }

    .img-1 {
        overflow: hidden;
    }

    .img-1 img {
        width: 75%;
        height: auto;
    }

    .content {
        height: 100%;
        width: 50%;
    }

    .content h1 {
        font-size: 6vw;
    }

    .content h1 i {
        position: relative;
        top: -1%;
    }

    .content p {
        font-size: 1.5vw;
    }

    .content button {
        width: 35%;
        font-size: 1.6vw;
    }

    .about-cont h1 {
        font-size: 5vw;
        color: black;
    }

    .about-cont p {
        font-size: 1.5vw;
    }

    .about-cont button {
        font-size: 1.5vw;
        width: 40%;
    }

    .about-img {
        overflow: hidden;
    }

    .about-img img {
        height: auto;
        width: 75%;
    }

    #sec-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .string {
        margin-top: 1.5%;
        overflow: visible;
    }

    .svg-img {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .svg-img img {
        height: auto;
        width: 100%;
    }

    .svg-img p {
        margin-left: -1.8%;
        margin-top: -0.5%;
        height: 8vh;
        width: 8vh;
        background-color: #e73d2e;
    }

    .project-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2vw;
    }

    .project-row-1 {
        width: 90%;
        margin: 0%;
    }

    .project-row-2 {
        width: 90%;
        margin: 0%;
    }

    .project-img {
        overflow: hidden;
    }

    .project-img img {
        width: 70%;
        height: auto;
    }

    #sec-5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2vw;
    }

    #sec-5 img {
        height: auto;
        width: 25%;
    }

    #sec-5 form {
        width: 50%;
    }

    #sec-5 form label {
        font-size: 1.5vw;

    }

    #sec-5 form input {
        border: 2px solid green;
        font-size: 1.2vw;
        text-transform: capitalize;
    }

    #sec-5 form textarea {
        border: 2px solid green;
        font-size: 1.2vw;
        text-transform: capitalize;
    }

    #sec-5 form button {
        font-size: 2vw;
        text-transform: uppercase;
        font-family: sans-serif;
    }

    .copyright {
        position: relative;
        bottom: 0;
    }

    .copyright p {
        font-size: 1.2vw;
        font-weight: 800;
    }

    .copyright h5 {
        font-weight: 900;
    }
}


@media(max-width:810px) {
    .s1 nav {
        max-height: 10vh;
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0% 4%;
    }

    .s1 nav ul {
        display: none;
    }

    .logo {
        height: 100%;
        width: 10%;
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        height: auto;
        width: 100%;
    }

    .s1 nav i {
        display: block;
        font-size: 5vw;
        cursor: pointer;
    }

    .nav-icons {
        position: relative;
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-icons i {
        position: absolute;
    }

    .menu-bar ul {
        height: 18vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2% 8%;
        text-transform: capitalize;
        gap: 1vw;
    }

    .menu-bar ul li {
        list-style: disc;
    }

    .menu-bar ul li a {
        color: black;
        font-size: 1.8vw;
        font-weight: 600;
    }


    .menu-bar ul button {
        background-color: black;
        height: 3vh;
        width: 30%;
        display: block;
        border: none;
        outline: none;
        border-radius: 8px;
    }

    .menu-bar ul button a {
        color: white;
        font-size: 2vw;
        padding: 2% 4%;
    }

    .main {
        max-height: 90vh;
        width: 100%;
    }

    .content p {
        font-size: 1.8vw;
    }

    #sec-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100vh;
    }

    .string {
        margin: 0%;
        padding: 0%;
        margin-left: -8%;
        margin-top: 8%;

    }

    .svg-img {
        margin-left: -80%;
    }

    .svg-img p {
        margin-left: 0%;
        left: 86%;
    }




}


@media (max-width : 500px) {
    .s1 {
        max-height: 100vh;
        overflow: hidden;
    }

    .logo {
        width: 15%;
    }

    .nav-icons {
        width: 15%;

    }

    .menu-bar ul li a {
        font-size: 2.6vw;
        font-weight: 700;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
    .img-1 {
        height: 40vh;
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-1 img{
        height: auto;
        width: 60%;
    }
    .content {
        width: 100%;
        height: 40vh;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        margin-top: -5%;
    }
    .content h1 {
        font-size: 8vw;
        margin-bottom: 5%;
    }
    .content h1 i{
        font-size: 8vw;
    }
    .content p{
        text-align: center;
        width: 100%;
        margin: 0%;
        padding: 0% 5%;
        font-size: 3vw;
        margin-bottom: 5%;

    }
    .content button {
        border-radius: 8px ;
        font-size: 3.2vw;
        margin-bottom: 5%;
        width: 50%;
    }
    #Sec-2 {
        max-height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .about-cont {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        margin: 0%;
        padding: 0%;
    }
    .about-cont h1{
        font-size: 8vw;
        margin-bottom: 5%;
    }
    .about-cont p{
        text-align: center;
        width: 80%;
        margin: 0%;
        font-size: 3vw;
        margin-bottom: 5%;

    }
    .about-cont button {
        border: 1px solid black;
        border-radius: 8px;
        font-size: 3vw;
        margin-bottom: 5%;
        width: 50%;
    }
    .about-img {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-top: 10%;
    }

    .about-img img{
        height: auto;
        width: 60%;
    }

    #sec-3 {
        display: flex;
        justify-content: center;
        align-items: start;
    } 
    .string {
        transform: rotate(90deg);
        height: 60%;
        width: 190%;
        margin-left: -80%;
        margin-top: -30%;
        padding: 0%;
    }
    .string svg{
        height: 100%;
        width: 100%;
    }
    .svg-img {
        height: 25vw;
        width: 25vw;
        margin-left: 0%;
    }
    .svg-img img{
        height: auto;
        width: 100%;
    }
    .svg-img p{
        height: 10vw;
        width: 10vw;
    }
    #sec-4 {
        max-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .project-cont{
        height: 30%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        margin-bottom: 20%;
    }
    .project-row-1 {
        height: 90%;
        width: 95%;
        margin-left: 2.5%;
    }
    
    .project-row-2 {
        height: 90%;
        width: 95%;
        margin-left: 2.5%;
        
    }

    .project-img{
        height: 50%;
        width: 100%;
    }
    .project-img img{
        height: auto;
        width: 60%;
    }

    #sec-5 {
        max-height: 100vh;
        width: 100%;

    }
    #sec-5 img{
        width: 60vw;
    }
    #sec-5 form {
        width: 90%;
        height: 50%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    #sec-5 form label {
        font-size: 3.2vw;
    }
    #sec-5 form input{
        height: 10vw;
        font-size: 3vw;
        margin-bottom: 5%;
    }
    #sec-5 form textarea{
        height: 20vw;
        border-radius: 16px;
        font-size: 3vw;
        margin-bottom: 5%;
    }
    #sec-5 form button {
        width: 50%;
        margin: auto;
        font-size: 3vw;
        border-radius: 8px;
    }
    .copyright{
        width: 60%;
        margin-bottom: -10%;
    }
    .copyright p{
        font-size: 2.5vw;
    }
    .copyright h5{
        font-size: 2.8vw;

    }


}   


@media (max-width:360px) {
   
    #m-icon {
        font-size: 12vw;
    }
    .logo {
        width: 20%;
    }
    .menu-bar ul li a{
        font-size: 4vw;
    }
    .menu-bar ul .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
    }
    .menu-bar ul .nav-btn button{
        width: 60%;
        border-radius: 4px;
    }
    .menu-bar ul .nav-btn button a{
        font-size: 3.5vw;
    }
    .content h1{
        font-size: 12vw;
    }
    .content h1 i{
        font-size: 12vw;
    }
    .content p{
        font-size: 4vw;
    }
    .content button {
        width: 60%;
    }
    .content button a{
        font-size: 4vw;
    }
    .about-cont h1{
        font-size: 12vw;
    }
    .about-cont p{
        font-size: 4vw;
    }
    .about-cont button {
        width: 60%;

    }
    .about-cont button a{
        font-size: 4vw;
    }
    .about-img {
        margin-bottom: 5%;
        margin-top: -5%;
    }
    .about-img img{
        width: 75%;
    }
    .string{
        margin-top: -30%;
    }
    .project-img{
        display: flex;
        flex-direction: column-reverse;
        height: 40%;
    }

    .project-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 100%;
        margin: 0%;
    }

    .project-row-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 100%;
        margin: 0%;
        margin-right: 2%;
    }
    .project-row-1 a{
        height: 23%;
        width: 70%;
    }
    .project-row-1 a img{
        height: 100%;
        width: 100%;
        border-radius: 4px;
    }

    .project-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 100%;
        margin: 0%;
        margin-left: -6%;
    }
    .project-row-2 a{
        height: 23%;
        width: 70%;
    }
    .project-row-2 a img{
        height: 100%;
        width: 100%;
        border-radius: 4px;
    }
    .project-img img {
        width: 75%;
    }

    #sec-5 img{
        width: 75%;
    }
    #sec-5 form label {
        font-size: 4vw;
    }
    #sec-5 form textarea {
        margin-bottom: 0%;
    }
    #sec-5 form button {
        width: 60%;
        padding: 4% 4%;
    }
    #sec-5 form button a {
        font-size: 5vw;
    }

}